huggingface-hub
langchain
langchain-core
langchain-exa
langchain-groq
langgraph
langgraph-checkpoint-postgres
langgraph-sdk
nltk
numpy
pydantic-settings
python-dotenv
redis
scikit-learn
scipy
sentence-transformers
streamlit
torch
transformers
uvicorn
starlette
langchain-tavily
flask
